:root {
    --background-Color: #252524;
    --accent-color: #ff4d00;
}

.errorPage {
    position: relative;
    z-index: 1;

    margin: auto;

    width: 500px;
    height: 500px;

    text-align: center;
}

.errorPage p {
    color: #dedede;
}

h1 {
    color: #dedede;
    font-family: "Comic Neue", sans-serif; 

    margin-top: -95px;
}

[class="notFound"] {
    font-family: "Play", sans-serif;
    font-weight: bold;

    font-size: 100px;
}

.iconClass {
    position: relative;
    color: var(--accent-color);
    width: 150px;
    height: 250px;

    margin-top: 100px;
    margin-left: -750px;
}

.fade-in {
    animation: fadeInMove 0.75s forwards;
}

@keyframes fadeInMove {
    from {
        opacity: 0;
        transform: translateY(-55px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

#goHome {
    position: relative;

    background: var(--accent-color)10;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);

    font-family: "Play", sans-serif;
    font-weight: 600;
    size: 100px;

    margin-top: 10px;
    
    align-items: center;
    font-size: 15px;

    width: 200px;
    height: 40px;

    animation: buttonUnhover 0.5s forwards;
}

@keyframes buttonHover {
    to {
        position: relative;
        background-color: #ff4d0026;
        width: 200px;
        height: 40px;
    }
}

@keyframes buttonUnhover {
    to {
        position: relative;

        background-color: inherit;
        width: 175px;
        height: 40px;
    }
}

@keyframes buttonPress {
    to { transform: scale(0.95); }
}

@keyframes buttonRelease {
    to { transform: scale(1); }
}

#goHome:hover {
    position: relative;
    width: 175px;

    animation: buttonHover 0.5s forwards;
}

#goHome:not(:hover) {
    animation: buttonUnhover 0.5s forwards;
}

#goHome:active {
    animation: buttonPress 0.1s forwards;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0d0d0d;
    z-index: -1;
}