<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <meta name="color-scheme" content="light dark">

        <meta property="og:title" content="werinq">
        <meta property="og:type" content="profile">
        <meta property="og:url" content="https://werinq.xyz">
        <meta property="og:site_name" content="werinq.xyz">
        <meta property="og:image" content="https://cdn.discordapp.com/avatars/1199049872960143361/93aae67f300d2a02b65ba935552f0de4.webp?size=1024&width=1024&height=1024">
        <meta property="og:image_alt" content="silly goober :3">
        <meta property="og:description" content="Welcome to my portfolio, where you can explore my past projects and see what I've been working on!">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic%20Neue:wght@400;700&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap">

        <title>werinq</title>
    </head>

    <body>

        <div class="screenContainer">
            <div class="topContainer">
                <button id="topButton" class="socialsButton">Socials</button>
                <button id="topButton" class="homeButton">Home</button>
                <button id="topButton" class="portfolioButton">Portfolio</button>
            </div>
    
            <div class="mainContainer">
                <div id="containerAboutMe" class="container center">
                    <img src="https://cdn.discordapp.com/avatars/1199049872960143361/93aae67f300d2a02b65ba935552f0de4.webp?size=1024&width=1024&height=1024", id="myPFP">
    
                    <div id="aboutMeUsernameContainer">
                        <p id="aboutMeUsernameText">werinq (@splitzzz.q_alt)</p>
                    </div>
    
                    <div id="aboutMeContainer">
                        <p id="aboutMeText">Hello! Welcome to my website.
                            You can look around for now. I do scripting and graphics design. See my works by going to Portfolio at the top!</p>
                    </div>
                </div>

                <div id="whatCanIDo">
                    <p id="whatCanIDoLabel">~ i do: ~</p>
                    <p id="whatCanIDoText">- simple UI design <br>- roblox <-> discord <br>- simple GFX <br>- organized code <br>- almost everything!!!</P>
                    <p id="whatCanIDoDisclaimer">feel free to ask something thats not on the list</p>
                </div>

                <div id="whatCanINotDo">
                    <p id="whatCanINotDoLabel">~ i don't do: ~</p>
                    <p id="whatCanINotDoText">- gun systems <br>- anything against any tos <br>- GFX blender renders <br>- combat systems <br>- entire frameworks</P>
                    <p id="whatCanINotDoDisclaimer">this list does not show everything i don't do</p>
                </div>

                <div id="line1"></div>
                <div id="line2"></div>
                <div id="line3"></div>
            </div>
        </div>

        <div id="particles-js"></div> <!-- fixed id (no dots) -->

        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="{{ url_for('static', filename='js/setupParticles.js') }}"></script>
        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    </body>
</html>
