<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <title>werinq</title>
    </head>

    <body>
        <div class="container">
            <img src="{{ url_for('static', filename='images/pears-ripe-fruit-peer-wallpaper.jpg') }}" alt="mmmmm juicy pineapple">
            <p>Juicy pineapple.</p>
        </div>

        <div class="containerEhey">
            <img src="{{ url_for('static', filename='images/ehey.png') }}" alt="Why was 6 scared of 7? Because 7 is a nigger">
            <p>Because 7 8 9</p>
        </div>
    </body>
</html>
