<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/notfound.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic%20Neue:wght@400;700&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap">

        <title>Page Not Found</title>

    </head>
    <body>

        <div class="icon">
            <i data-lucide="archive-x" class="iconClass"></i>
    
            <script src="https://unpkg.com/lucide@latest"></script>
        </div>

        <div class="errorPage">
            <p class="notFound">
                404
            </p>

            <h1>Page Not Found</h1>

            <button id="goHome">
                Go Back Home
            </button>
        </div>  

        <div id="particles-js"></div>

        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script>lucide.createIcons();</script>
    </body>
</html>